<!-- Estendemos do template base -->
{% extends "wbste/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Menu Usuários</h5>
                    <p class="card-text"> Aqui você poderá cadastrar, ou visualizar <code>usuários</code>.</p>
                    <a href="{% url 'website:usuarios_index' %}" class="btn btn-primary">Menu usuário</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Menu Tarefas</h5>
                    <p class="card-text">Defina, ou visualize, aqui suas <code>tarefas</code>.</p>
                    <a href="{% url 'website:tarefas_index' %}" class="btn btn-primary">Menu tarefas</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
